{% load static %}
<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta name="Dieseshop" content=" Dieseshop | Home : Buy and Sell any product">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootsrtap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
         <link rel="stylesheet" href="{% static 'css/cart.css' %}">
        <link rel="shortcut" href="{% static 'image/logo.png' %}">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <title> DieseShop </title>
    </head>
<body>
   {% include 'navbar.html' %}

  <!--
    <section class="image">
      <div class="container" style="color: #8000FF;">
        <div class="row">
          <div class="col-md-4">
            <div class="mt-5">
               <h3 class="col-success"> Buy and Sell Any Product </h3>
               <h2 class="col-success"> With Fastest and Safest  </h2>
               <h2 class="col-success"> Delivery to Any Over </h2>
               <h1 class="col-success">  World  </h1>
               <h1>Sign up Now and Start </h1>
               <button class="btn btn-success"> Sign up Now </button>
            </div>
          </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>
      </div>
  </section>
  -->

    {% block content %}
  

    {% endblock content %}
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


   {% include 'footer.html' %}

 

  </body>
       <!-- JavaScript files-->

        <script src="{% static 'js/fontawsome-all.min.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <!-- the end of Javascript files -->

</body>
</html>

